@charset "UTF-8";

.fundo
{
    background-color: #171616;
    text-align: center;
}
.quadrado1
{
    margin: 30%;
    margin-top: 2%;
    margin-bottom: 0;
    padding: 2%;
    border-radius: 10px;
    background-image: linear-gradient(160deg,#fda501,#b86d17);
    box-shadow: 0 0 16px 16px #000000a7;
}
.texto
{
    font-family: Arial, Helvetica, sans-serif;
}
.diam_inpt
{
    width: 50%;
    height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #e6e1da70;
    transition: background-color 0.5s ease;
}
.diam_inpt:hover
{
    background-color: #e6e1dab9;
    transition: background-color 0.5s ease;
}
.enviar
{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: #fda501;
    background-color: #0c0c0c;
    margin-top: 10px;
    transition: background-color 0.5s ease;
}
.quadrado2
{
    margin-top: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    width: 100%;
    height: 35vw;
}
.imagem
{
    background-image: url(../static/imagens/pizza_img1.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    border-radius: 8px;
}
.creditos
{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-bottom: 1%;
}
.tabela
{
    margin-top: 10px;
    border: none;
}
.tabela table
{
    text-align: center;
    border: none;
    z-index: -10;
}
.tabela td
{
    text-align: center;
    border: none;
    background-color: #ffffff21;
    color: black;
    padding: 8px;
    z-index: 100000000;
}
.tabela th
{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.802);
    color: #fda501;
    border: none;
    padding: 8px;
    z-index: 1000;
}
.borda-esq {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.borda-dir {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.centralizar
{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1100px)
{
    .quadrado1
    {
        margin: 10%;
    }
}