<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='all.css')}}">
    <link rel="stylesheet" href="../static/all.css">
    <title>Document</title>
</head>
<body class="fundo">
    <div class="quadrado1">
        <div class="quadrado2">
            <div class="imagem"></div>  
        </div>
        <h2>Resultado Final:</h2>

{% if erro %}
    <h3 style="color: red;">{{ erro }}</h3>
{% else %}
    <h3>Adicional: R$ {{ adicional }}</h3>
    <h3>Preço total: R$ {{ preco_total }}</h3>
{% endif %}

    </div>
</body>
</html>